---
import DownloadFileButton from "./DownloadFileButton.astro";

import getLanguage from "../languages/script";

const language = getLanguage(Astro.currentLocale);

const actualDate = new Date();
const age =
    actualDate.getMonth() > 6
        ? actualDate.getFullYear() - 2004
        : actualDate.getFullYear() - 2005;
---

<section id="home">
    <div class="text-data">
        <h1>{language.HOME_TEXT_1}</h1>
        <h2>{language.HOME_TEXT_2} <span id="ocupation">{language.HOME_TEXT_3}</span></h2>
        <p>
            <span id="age">{age} {language.HOME_TEXT_4}</span>
            <br />
            <span id="education">{language.HOME_TEXT_5}</span>
            <span id="location">{language.HOME_TEXT_6}</span>
        </p>
    </div>
    <DownloadFileButton title="CV" path="/Diego_Sanchez_CV.pdf" />
</section>

<style>
    #home {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        letter-spacing: 1px;
        gap: 2rem;
    }

    h1 {
        width: 100%;
        font-size: 5em;
        font-weight: 700;
    }

    h2 {
        font-size: 2em;
        margin-bottom: 3rem;
    }

    p {
        width: 85%;
        font-size: 1.2em;
        font-weight: 500;
        line-height: 1.5em;
    }

    #ocupation {
        color: var(--secondary-text-color);
    }

    #age {
        color: var(--yellow-text-color);
    }

    #location {
        color: #d1e8ef;
    }

    #education {
        margin-right: 15px;
        color: #a0b6c4;
    }

    @media (max-width: 500px) {
        h1 {
            font-size: 3em;
        }

        h2 {
            font-size: 1.5em;
        }

        p {
            font-size: 1em;
        }
    }
</style>
